<!-- views folder is the default directory that express uses for your templates -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1> <!-- handlebars syntax are 2 curly braces. You can reference any of the props passed in -->
    <p>Some text here</p>

    <footer>
      <p>Copyright {{currentYear}}</p>
    </footer>
  </body>
</html>
